<div class="container mt-5">
    <div *ngIf="!regesterMode" style="text-align: center;">
        <h1> Find your match</h1>
        <p class="lead"> Come on in to viw your matches.. all you need to do is sign up! </p>
        <div class="text-center">
            <button (click)="regesterToggle()" class="btn btn-primary btn-lg me-2">Regester</button>
            <button class="btn btn-primary btn-info btn-lg me-2">Learn More</button>
            <button type="button" class="btn btn-primary"
            tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Simple demo
            </button>
        </div>
    </div>

    <div *ngIf="regesterMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="regesterToggle()"></app-register>
            </div>
        </div>
    </div>
</div>
